// -------------------------//
// layout
// -------------------------//

.l-main-header-wrapper {
    width: 100%;
    min-width: 1052px;
    height: 494px;
    margin: 0 0 20px;
    background-repeat: no-repeat;
    background-position: center top;
}

.l-main-header {
    position: relative;
    width: 1052px;
    height: 494px;
    margin: 0 auto;
    outline: 1px solid red;
}

.l-container {
    width: 1052px;
    padding: 0 10px;
    margin: 0 auto;
    outline: 1px solid purple;
}

.l-sidebar {
    width: 256px;
    outline: 1px solid blue;
    min-height: 30em;
    float: left;
}

.l-main-content {
    width: 755px;
    outline: 1px solid orange;
    min-height: 40em;
    float: right;
}

.l-int-nav {
    padding: 0;
    margin: 0 0 14px;
    list-style: none;

    li {
        margin-bottom: 6px;
    }
}