/* ==========================================================================
   Site Variables
   ========================================================================== */

/**
 * Dimensions
 */

$site-width: 1052;
$site-outside-gutters: 10;

/**
 * colors
 */
$color-tan: #b08458;
$color-dark-green: #738d46;
$color-light-green: #90b058;
$color-rollover: #000;
$color-beer-border-color: #c8c7c7;



/**
 * fonts 
 */
$body-family: Helvetica, Arial, sans-serif;
$body-family-alt: "brandon-grotesque", helvetica, arial, sans-serif; 
$heading-family: "brandon-grotesque", helvetica, arial, sans-serif;
$heading-family-bold: 500;
$heading-family-regular: 400;

$heading-family-alt: "Prohibition-Regular", helvetica, arial, sans-serif;

/**
 * Some defautls
 */
 
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box; 
}


body {
    font-family: $body-family;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-family;
}