// homepage -- became all homepage

.l-home-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(../img/h_img_1.jpg) no-repeat center top;
    background-size: cover;
}

.home-main-con {
	position: relative;
	margin: 0 auto;
	padding: 0 3%;
	width: 1125px;
	background: url(../img/home_box_bg.png) repeat left top;
}

.l-home-inner-container {
    position: relative;
    width: 1050px;
    height: 100%;
    margin: 8em auto 0;
    padding-bottom: 12em;
    text-align: center;
}

.l-homepage-nav {
	position: relative;
	padding: 2em 3% 1em;
	background: url(../img/nav_bg.png) repeat left top;
}

.homepage-nav-group {
	position: relative;
	padding-top: .25em;
	border-top: 1px solid #b08458;
	&.group-one {
		float: left;
	}

	&.group-two {
		float: right;
	}
}
.homepage-nav {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	

	li {
		position: relative;
		float: left;
		line-height: 16px;
		border-top: 1px solid #b08458;
		padding-top: 2em;

		&:before {
			display: block;
			width: 16px;
			height: 27px;
			content: "";
			position: absolute;
			top: -12px;
			left: 50%;
			margin-left: -20px;
			background: url(../img/menu_arrow.png) no-repeat center top;
		}
	}

	a {
		color: #fff;
		font: normal normal $heading-family-bold 16px/1 $heading-family;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 0 24px 0 0;

		&:hover {
			text-decoration: underline;
		}
	}
}

.homepage-logo {
	position: absolute;
	width: 240px;
	height: auto;
	left: 50%;
	margin-left: -140px;
	top: -102px;
}

.group-two .homepage-nav { 
	li {
		text-align: right;

		&:before {
			left: auto;
			right: 50%;
			margin-left: 0;
			margin-right: -20px;

		}
	}
	a {
		margin: 0 0 0 24px;
	}
}

@media (max-width: 1122px) {
	.l-home-inner-container {
		width: 966px;
	}

	.homepage-logo {
		width: 160px;
		margin-left: -80px;
		top: -44px;
	}	
}