// main nav

.main-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	
	li {
		text-align: center;
		margin-bottom: 1.25em;
	}

	a {
		padding: 4px 0;
		color: #fff;
		font: normal normal $heading-family-bold 18px/1.4 $heading-family;
		text-transform: uppercase;
		letter-spacing: 2px;

		&:hover {
			color: $color-light-green;
		}
	}
}

.page-id-19 {
	.main-nav {
        a:hover {
            color: #fab201;
        }
    }
    .int-nav-item:hover {
		color: #fab201;
    }
}

.page-id-21 {
	.main-nav {
        a:hover {
            color: #74959c;
        }
    }
    .int-nav-item:hover {
    	color: #74959c;
    }
}

.page-id-23 {
	.main-nav {
        a:hover {
            color: #90b058;
        }
    }
    .int-nav-item:hover {
    	color: #90b058;
    }
}

.page-id-25 {
	.main-nav {
        a:hover {
            color: #40182f;
        }
    }
    .int-nav-item:hover {
    	color: #40182f;
    }
}


.page-id-27 {
	.main-nav {
        a:hover {
            color: #b3d4fc;
        }
    }
    .int-nav-item:hover {
    	color: #b3d4fc;
    }
}