// --------------------------------- //
// page headers
// --------------------------------- //

// events and tours
.page-id-23 .l-main-header-wrapper {
    background-image: url(../img/events_and_tours_heady.jpg);
}

// the legend
.page-id-21 .l-main-header-wrapper {
    background-image: url(../img/legend_heady.jpg);
}

// the beers
.page-id-19 .l-main-header-wrapper {
    background-image: url(../img/beers_heady.jpg);
}

// submit your song
.page-id-25 .l-main-header-wrapper {
    background-image: url(../img/submit_your_song_heady.jpg);
}