// --------------------------- //
// section interior nav
// --------------------------- //

.int-nav-item {
    display: block;
    width: 100%;
    padding: 16px 0;
    background: $color-tan;
    font-size: 18px;
    line-height: 1;
    font-weight: $heading-family-bold;
    font-family: $heading-family;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;

    &:hover {
        color: #000;
    }
}
