// --------------------------- //
// sidebar panel
// --------------------------- //


// --------------------------- //
// background color changes

// events and tours
.page-id-23 .l-sidebar-panel {
    background: $color-dark-green;
}

// the legend
.page-id-21 .l-sidebar-panel {
    background: #50757a;
}

.page-id-21 .location-panel {
	background: #233c53;
}

// merch
.page-id-27 .l-sidebar-panel {
    background: #50757a;
}

.page-id-27 .location-panel {
	background: #b1c7db;
}

// the beers
.page-id-19 .l-sidebar-panel {
    background: #c48203;
}

.page-id-19 .location-panel {
	background-color: #fab201;
}

// submit your song
.page-id-25 .sign-up-panel {
    background: #481a35;
}

.page-id-25 .location-panel {
    background: #6c2850;
}

// end background color changes
// --------------------------- //


.sidebar-panel-heady {
	margin: 0;
	padding: 20px 0 14px;
	color: #fff;
	font: normal normal normal 40px/1 $heading-family-alt;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
}

.location-panel {
	
	.l-sidebar-panel-body {
		padding-top: 1em;

		p {
			margin-bottom: 2em;
			font-size: 13px;
			line-height: 20px;

			a {
				color: #000;
				text-decoration: none;
				
				&:hover {
					text-decoration: underline;
				}
			}
		}

		h4 {
			font-family: $heading-family;
			font-size: 14px;
			margin-bottom: .25em;
			text-transform: uppercase;
			color: #fff;
		}


	}
}

.sidebar-maps-heady {
	margin-bottom: 0;
	color: #fff;
	font-size: 14px;
	font-family: $heading-family;
	text-transform: uppercase;
	margin-top: 1em;
	letter-spacing: 1px;
}